<!doctype HTML>
{% extends 'first_app/basic.html'%}
{% load static %}
    {%block title%}Books{% endblock %}
    {%block css%}
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{% static 'first_app/css/books_list.css'%}">
    {% endblock %}
{% block body %}

<!-- <div>
    {{ obj.Book_Name }}
    {{  obj.Book_Price }}
    {{ obj.Descrition }}
    <a><button>Buy</button></a>
    <a href="/first_app/bookview/{{obj.Book_Id}}"><button>View</button></a>
</div> -->
<section class="section-tours" id="section-tours">
    <div class="row">
        {% for obj in object_list %}

        <div class="col-1-of-4">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1">
                            &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--1">{{ obj.Book_Name }}</span>
                    </h4>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">{{ obj.Descrition }} {{ obj.count }}</p>
                            <a href="/first_app/bookview/{{obj.Book_Id}}" class="btnsmall">Full Description</a>
                            <p class="card__price-value">₹<br>{{ obj.Book_Price }} </p>
                        </div>
                        <a href="/first_app/book_buy_confirmed/{{obj.Book_Id}}" class="btn btn--white">Buy</a>
                    </div>
                </div>
            </div>
        </div>
            {% if obj.count == 3 %}
                <div>
                    {{ obj.count }}
                </div>
                </div>
                <div class="row">
            {% endif %}
    {% endfor %}
    </div>
</section>


{% endblock %}

</html>


