<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>Electronic Buy Confirmed</h1>
<h1>Electronic</h1>
{{product_name}}
<br>
{{descrition}}
<br>
{{product_price}}
<br>
{{book_edition}}
<br>
{{product_brand}}
<br>
{{product_models}}
<br>
{{garantee]}
<br>
<h1>Users</h1>
<br>
{{user_name}}
<br>
{{user_middle_name}}
<br>
{{user_last_name}}
<br>
{{user_Hostel_Type}}
<br>
{{user_Block}}
<br>
{{user_Email_ID}}
<br>
</body>
<a href="/first_app/">Home page</a>
</html>