<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="mx-auto" style="width: 800px;">
<div class="w-75 p-3 form-row justify-content-center jumbotron">
        <h3>Register Now !!!</h3><hr><br><br><br>
<div class="form-group">
<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    {{ form1.as_p }}
    <br>
    <input type="submit" value="Submit" class="btn btn-outline-primary">
</div>
</div>
</div>
</form>
</body>
</html>