body{
    margin: 0;
    padding: 0;
    color: aqua;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    background: /*#120eebde;*/ url('/static/first_app/image/book_buy_bg.jpg');
  }
  .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }